.Cusnavb {

    background-color: #0f0f0f;

    margin-top: -50px;

}

input[type='text'], select {

    width: 190px;

    /*margin-left: 40px;*/

}

input, select, label {

    display: block;

}

@media only screen and (max-height: 768px) {
    .ui-growl {
        right: 0;
        top: 300px;
        position: absolute;
    }
}
@media only screen and (max-height: 1050px) {
    .ui-growl {
        right: 0;
        top: 860px;
        position: absolute;
    }
}