.Cusnavb{
    background-color: #0f0f0f;
    margin-top: -50px;
}
.margin{
    margin-top: 50px;
    margin-right: 245px;
}

/*.imageLogo{*/
    /*height: 51px;*/
/*}*/

.imageLogo {
    max-height: 40px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}
