.Cusnavb {
    background-color: #0f0f0f;
    margin-top: -50px;
}

.img {
     height: 144px;
     width: 144px;
     margin-left: 15px;
 }
.text-input, .text-label{
    font-size: 16px;
    margin-left: 5px;
}
.panel-width{
    width: 100px;
}


@media only screen and (max-height: 768px) {
    .ui-growl {
        right: 0;
        top: 300px;
        position: absolute;
    }
}
@media only screen and (max-height: 1050px) {
    .ui-growl {
        right: 0;
        top: 500px;
        position: absolute;
    }
}