.Cusnavb{
    background-color: #0f0f0f;
    margin-top: -50px;
}
/*.form{*/
    /*background-color: #2aabd2;*/
    /*text-align: center;*/
/*}*/
.margin{
    margin-top: 50px;
    margin-right: 245px;
}

/*.ui-growl {*/
    /*position: fixed;*/
    /*right: 0;*/
    /*bottom:0;*/
/*}*/
.ui-growl {
    
    left:20px;
}